body{
  background-color: #f2f2f2;
}

p{
  color: blue;
  text-align: center; 
}

td{
    width: 100px;
    height: 100px;
}

table{
    margin-top: 60px ;
    margin-left: 25%;
}
/*.para{ 
 
  color:blue;
  font-size: 50px;
}*/
.vl{
    border-left: 3px solid gray;
    border-right: 3px solid gray;
}

.hl{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}

.Dglow{
  display:none;
}
/*.button
{
  background-color: #99c2ff;
  color: white;
  text-align: center;
  font-size: 16px;
}*/