body
  {
    background-color: #ffffff;
  }
td {
  width: 100px;
  height: 100px;
}
table {
  margin-top: 60px ;
  margin-left: 25%;
}
.vl {
  border-left: 3px solid gray;
  border-right: 3px solid gray;
}
.hl {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}
.button
{
  background-color: #99c2ff;
  color: white;
  text-align: center;
  font-size: 16px;
}
