
body{
  background-color: lavender;
}

p{
  color: black;
  margin-left: 30%;
  margin-right: 25%;
}

td{
    width: 100px;
    height: 100px;
}

table{
    
    margin-top: 8% ;
    margin-left: 25%;
    margin-right: 25%;
}
.button
{
  background-color: ffffff;
  font-size: 40px;
  color: black;
  text-align: center;
  cursor: pointer;
  

}
/*.para{ 
 
  color:blue;
  font-size: 50px;
}*/
.vl{
    border-left: 3px solid gray;
    border-right: 3px solid gray;
}

.hl{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}

.Dglow{
  display:none;
}
/*.button
{
  background-color: #99c2ff;
  color: white;
  text-align: center;
  font-size: 16px;
}*/